	<form 
		ng-controller="FormController as FormCtrl"
		role="form" class="form-horizontal" novalidate 
		name="VolunteerAvailability"	
		ng-submit="submitForm(VolunteerAvailability)">

		<alert></alert>
		
		<div class="form-group">
			<label class="control-label col-sm-2">Prefered role</label>
			<div class="col-sm-1" ng-repeat="r in ['Driver', 'Kitchen', 'Office']" >
				<input type="button" ng-click="data.availability.roles.indexOf(r)<0 && data.availability.roles.push(r) || data.availability.roles.splice(data.availability.roles.indexOf(r),1)" value="{{r}}" class="btn btn-default btn-block" ng-class="{'btn-info':data.availability.roles && data.availability.roles.indexOf(r)!=-1}">
			</div>
			<div class="col-sm-2">
				<input type="button" value="no preference" ng-click="data.availability.roles=['Driver', 'Kitchen', 'Office']" class="btn btn-default btn-block" ng-class="{'btn-info':data.availability.roles && !data.availability.roles.length}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Frequency</label>
			<div class="col-sm-7">
				<table class="table">
						<thead>
							<tr>
							<th></th>
							<th ng-repeat="(d, day) in weekdays">
								<input type="button" ng-value="day" 
										class="btn btn-default btn-block" 									
										ng-class="{'btn-success': data.availability.frequency[0][d]
																&& data.availability.frequency[1][d]
																&& data.availability.frequency[2][d]
																&& data.availability.frequency[3][d]
																&& data.availability.frequency[4][d]}" 
										ng-click="status = data.availability.frequency[0][d]
														&& data.availability.frequency[1][d]
														&& data.availability.frequency[2][d]
														&& data.availability.frequency[3][d]
														&& data.availability.frequency[4][d];
												  data.availability.frequency[0][d]=!status;
												  data.availability.frequency[1][d]=!status;
												  data.availability.frequency[2][d]=!status;
												  data.availability.frequency[3][d]=!status;
												  data.availability.frequency[4][d]=!status;" >
							</th>
							</tr>
						</thead>
						<tbody ng-init="order = ['1st','2d','3rd','4th','5th'];">
							<tr ng-repeat="(w,week) in data.availability.frequency track by $index">
								<td><input type="button" 
										value="{{order[w]}} of the month" 
										class="btn btn-default btn-block"
										ng-class="{'btn-success':data.availability.frequency[w][0]
																&& data.availability.frequency[w][1]
																&& data.availability.frequency[w][2]
																&& data.availability.frequency[w][3]
																&& data.availability.frequency[w][4]}"
										ng-click="status = data.availability.frequency[w][0]
														&& data.availability.frequency[w][1]
														&& data.availability.frequency[w][2]
														&& data.availability.frequency[w][3]
														&& data.availability.frequency[w][4];
												  data.availability.frequency[w][0]=!status;
												  data.availability.frequency[w][1]=!status;
												  data.availability.frequency[w][2]=!status;
												  data.availability.frequency[w][3]=!status;
												  data.availability.frequency[w][4]=!status;" 
								></td>
								<td ng-repeat="(d,status) in week track by $index" class="text-center">
									<span ng-show="status" class="glyphicon glyphicon-ok btn bg-success text-success" ng-click="data.availability.frequency[w][d]=!status;"></span>
									<span ng-hide="status" class="glyphicon glyphicon-remove btn btn-default" ng-click="data.availability.frequency[w][d]=!status;"></span>
								</td>
							</tr>
						</tbody>
				</table>
			</div> 
			<div class="col-sm-3">
				<label>Off days</label>
				<p>Click on the calendars below to add/remove an off-day</p>
					<ul class="list-unstyled" style="height:200px;overflow-y:auto;">
						<li ng-repeat="date in data.availability.off_days track by $index">{{date}}</li>
					</ul>
			</div>
			
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Preview</label>
			<div class="col-sm-2" ng-repeat="(m, month) in calendars">				
				{{m|date:'MMMM yyyy'}}
				<table class="table table-condensed">
					<tr><th ng-repeat="n in ['M','T','W','T','F'] track by $index"  class="text-center">{{n}}</th>
					<tr ng-repeat="(w,week) in month track by $index">
						<td ng-repeat="(d,day) in week track by $index">
							<span class="btn btn-xs" style="width:100%;"
							ng-init="offset = month[0][d]?0:1;
									date = m.substr(0,8)+ ('00'+day).slice(-2);" 
							ng-class="{ 
								'bg-success' : day && data.availability.frequency[w-offset][d], 
								'bg-danger': day && data.availability.off_days.indexOf(date)!=-1
								}"
							ng-click="i=data.availability.off_days.indexOf(date); 
									  (i!=-1 ? data.availability.off_days.splice(i,1) : data.availability.off_days.push(date));
									  data.availability.off_days.sort()">{{day}}</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 col-sm-offset-2">
				<input type="submit" value="Update" class="btn btn-warning btn-block" >
			</div>
		</div>
	</form>