<section ng-controller="TabController as TabCtrl" ng-init="TabCtrl.setTab(1)">
	<ul class="nav nav-tabs" role="tablist">
		<li ng-class="{'active':TabCtrl.isSet(1)}"><a href="#" ng-click="TabCtrl.setTab(1);">Contact Info</a></li>
		<li ng-class="{'active':TabCtrl.isSet(2)}"><a href="#" ng-click="TabCtrl.setTab(2)">Car Info</a></li>
		<li ng-class="{'active':TabCtrl.isSet(3)}"><a href="#" ng-click="TabCtrl.setTab(3)">Availability</a></li>
	</ul>
	<div ng-show="TabCtrl.isSet(1)" ng-include="'/views/volunteer/_form_contact.html'"></div>
	<div ng-show="TabCtrl.isSet(2)" ng-include="'/views/volunteer/_form_car.html'"></div>
	<div ng-show="TabCtrl.isSet(3)" ng-include="'/views/volunteer/_form_availability.html'"></div>
</section>