<section ng-controller="TabController as TabCtrl">
	<h2>Volunteer information for {{data.username}}</h2>
	<nav style="margin-bottom:20px;">
	<ul class="nav nav-tabs" role="tablist">
		<li ng-class="{'active':TabCtrl.isSet('contact')}"><a href="#" ng-click="TabCtrl.setTab('contact');">Contact Info</a></li>
		<li ng-class="{'active':TabCtrl.isSet('availability')}"><a href="#" ng-click="TabCtrl.setTab('availability');">Availability</a></li>
		<li ng-class="{'active':TabCtrl.isSet('driver')}"><a href="#" ng-click="TabCtrl.setTab('driver');">Driver Info</a></li>
	</ul>
	</nav>

	<div ng-show="TabCtrl.isSet('contact')" ng-include="'/views/volunteer/_form_contact.html'"></div>
	<div ng-show="TabCtrl.isSet('availability')" ng-include="'/views/volunteer/_form_availability.html'"></div>
	<div ng-show="TabCtrl.isSet('driver')" ng-include="'/views/volunteer/_form_driver.html'"></div>

 </section>