
<h2>Users list</h2>

<table class="table" >
	<tr>
		<th>Active</th>
		<th>Role</th>
		<th>Username</th>
		<th>Email</th>
		<th></th>
	</tr>
	<tr ng-repeat="u in users track by $index">
		<td>
			<span class="btn glyphicon glyphicon-user" ng-class="{'btn-success':u.active, 'btn-default':!u.active}"></span>
		</td>
		<td>
			<span ng-bind="roles[u.role]"></span>
		</td>
		<td>{{u.username}}</td>
		<td>{{u.email}}</td>
		<td>
			<span class="btn btn-info glyphicon glyphicon-cog" title="Edit User"  ng-click="editUser($index)"></span>
			<span ng-show="u.volunteer_id" class="btn glyphicon btn-info glyphicon-pencil" title="Edit Volunteer Profile"  ng-click="viewDetails($index)"></span>
			<span ng-hide="u.volunteer_id" class="btn glyphicon btn-warning glyphicon-plus" title="Create Volunteer Profile"  ng-click="viewDetails($index)"></span>
			<span class="btn btn-danger glyphicon glyphicon-remove" title="Delete User" ng-click="confirm('This will delete the user and associated volunteer profile. Proceed?') && deleteUser($index)"></span>
		
		</td>
	</tr>
</table>
